node_modules
.env
.n8n
n8n-data/*
!n8n-data/config
!n8n-data/database.sqlite
!n8n-data/nodes/
n8n-data/nodes/*
!n8n-data/nodes/package.json
.playwright-mcp
.trae
.DS_Store
__pycache__
articles
!articles/
!articles/.gitkeep
lmg/*
!lmg/.gitkeep
logs
