node_modules
.env
!.env
!horizon/.env
.n8n
n8n-data/*
n8n-data/**
!n8n-data/.gitkeep
!n8n-seed/
!n8n-seed/database.sqlite
!n8n-seed/config
!n8n-seed/nodes/
!n8n-seed/nodes/package.json
.playwright-mcp
.trae
.DS_Store
__pycache__
articles
!articles/
!articles/.gitkeep
lmg/*
!lmg/.gitkeep
logs
*.sqlite-wal
*.sqlite-shm
